@model K2Calendar.Models.PostModel
@{
    ViewBag.Title = "Edit Technique";
}

<div class="container">
    <div class="row"><div class="span5 offset3">
    <h2>
        Edit Technique</h2>
    <p>
        Use the form below to edit the technique.</p>
    @Html.ValidationSummary(true, "Technique edit failed. Please correct the errors and try again.", new { @class = "alert alert-error" })
    @Html.Partial("_ValidateScripts")
    <script src="@Url.Content("~/Scripts/jquery.tokeninput.js")" type="text/javascript"></script>
    
    @using (Html.BeginForm())
    {
        
        @Html.EditorForModel(Model)

        <p>
            <button type="submit" class="btn btn-primary btn-large">
                Update &raquo;</button>
        </p>
    }
    </div></div>
</div>