@{
    ViewBag.Title = "K2 BJJ";
}

<div class="container">
    <img src="@Url.Content("~/Content/images/k2_logo.png")" class="img-rounded" alt="RCJ Machado Jiu-Jitsu"/>
    <img src="@Url.Content("~/Content/images/machado_logo.jpg")" class="img-circle" alt="K2 Martial Arts"/>
    <div class="hero-unit">
        <div>
            <h1>K2 Brazilian Jiu Jitsu Portal</h1>
            <ul>
                <li>Review techniques learned in class by watching instructional videos</li>  
                <li>Discuss these techniques with your fellow class members</li>        
                <li>Find techniques by date or by technique category</li> 
                <li>Become a better BJJ player</li>           
            </ul>
            <p><a href="@Url.Action("Logon", "Account")" class="btn btn-primary btn-large">Log In &raquo;</a></p>
        </div>
    </div>
    <div>
        <h2>More Courses Available at K2 Martial Arts</h2>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h3>Kickboxing</h3>
            <p>In just a few hours a week we will revolutionize what you have come to expect out of exercise.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>Kids</h3>
            <p>Empower you child to develop unshakable confidence, focus, discipline and true leadership skills.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>Cage Fitness</h3>
            <p>Power. Strength. Confidence. 30 minutes X twice a week.</p>
            <p><a class="btn" href="http://www.martialartsottawa.com">View details &raquo;</a></p>
        </div>
    </div>
</div>
