body
{
    background-color:#FDFDF0;  
}

.footer {
    padding: 50px 20px 50px 20px;
    margin: 20px 0 20px 0;
    border-top: 1px solid #E5E5E5;
    background-color: #8e8e8e;
}

.field-validation-error
{
    color: red;
}

.hero-unit
{
   /* border:1px solid #333333;   */
}

ul.token-input-list
{
    width:225px;
}

ul.token-input-list-facebook
{
    background-color: transparent;
    width: 250px; 
}

ul.token-input-list-facebook li input 
{
    background-color: inherit;
}

.containerBackground, .sideBar
{
    border:1px solid #D4D4D4;
    padding:10px 10px 10px 20px;
    background-color:#FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.partnerNavIcon
{
    width:25px;
    height:25px;
    padding-bottom:5px;
}

.footer a
{
    color:Silver;   
}

.embed-container {    
    position: relative;    
    padding-bottom: 56.25%; /* 16/9 ratio */   
    padding-top: 30px; /* IE6 workaround*/   
    height: 0;    
    overflow: hidden;
}
 
.embed-container iframe,
.embed-container object,
.embed-container embed {    
    position: absolute;    
    top: 0;    
    left: 0;    
    width: 100%;    
    height: 100%;
}